.grid-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.8fr 0.8fr 0.8fr 1.8fr 0.8fr;
  gap: 5px 5px;
}
.hobbies {
  grid-area: 5 / 1 / 6 / 5; 
  background-color: blue;
}
.experience {
  grid-area: 4 / 1 / 5 / 4;
  background-color: blueviolet;
}
.hardskills {
  grid-area: 4 / 4 / 5 / 5;
  background-color: cadetblue;
}
.education {
  grid-area: 3 / 3 / 4 / 5;
  background-color: coral;
}
.introduction {
  grid-area: 2 / 1 / 3 / 5;
  background-color: cornflowerblue;
}
.contact {
  grid-area: 1 / 2 / 2 / 5;
  background-color: cyan;
}
.picture {
  grid-area: 1 / 1 / 2 / 2;
  background-color: brown;
}
.softskills {
  grid-area: 3 / 1 / 4 / 3;
  background-color: darkblue;
}